## Análise 2018

In [5]:
import pandas as pd
import locale
import matplotlib.pyplot as plt
import numpy as np
import plotly.offline as py
import plotly.graph_objs as go
py.init_notebook_mode(connected=True)
locale.setlocale(locale.LC_ALL, 'pt_BR.UTF-8')

'pt_BR.UTF-8'

In [6]:
df_2018 = pd.read_csv('consulta_cand_2018_SP.csv',sep=';',encoding='latin-1', usecols=["DS_COR_RACA", 
                                                                                  "DS_GENERO", 
                                                                                  "NM_CANDIDATO",
                                                                                  "SG_PARTIDO"])

In [7]:
df_2018.columns

Index(['NM_CANDIDATO', 'SG_PARTIDO', 'DS_GENERO', 'DS_COR_RACA'], dtype='object')

In [8]:
df_2018

                           NM_CANDIDATO SG_PARTIDO  DS_GENERO DS_COR_RACA
0           HENRIQUE CARVALHO DE CAMPOS       PODE  MASCULINO       PRETA
1                MICHEL RAMIRO CARNEIRO    PC do B  MASCULINO      BRANCA
2     RAIMUNDO BERNARDINO DO NASCIMENTO         PT  MASCULINO       PRETA
3           MAURICIO DOMINGUES DA SILVA        PRB  MASCULINO       PARDA
4               ORLANDO MAURÍCIO JÚNIOR         PT  MASCULINO      BRANCA
...                                 ...        ...        ...         ...
3947       LUIZ JACINTO NEPOMUCENO NETO        PHS  MASCULINO      BRANCA
3948               MARCELA DIAS MOREIRA       PSOL   FEMININO       PARDA
3949                  JOSÉ LUIZ GLADCHI       PRTB  MASCULINO      BRANCA
3950           EDUARDO RODRIGUES XAVIER        MDB  MASCULINO       PARDA
3951            HENRIQUE STEIN SCIASCIO        PRB  MASCULINO      BRANCA

[3952 rows x 4 columns]

In [9]:
cor1 = df_2018.query('DS_COR_RACA == "PRETA"')
cor2 = df_2018.query('DS_COR_RACA == "BRANCA"')
cor3 = df_2018.query('DS_COR_RACA == "PARDA"')

In [10]:
valorCor1 = cor1['DS_COR_RACA'].count()
valorCor2 = cor2['DS_COR_RACA'].count()
valorCor3 = cor3['DS_COR_RACA'].count()

In [12]:
df.query('DS_COR_RACA == "PRETA" and DS_GENERO == "FEMININO" ')

                               NM_CANDIDATO SG_PARTIDO DS_GENERO DS_COR_RACA
5                ROSANILDA ANTONIA DA SILVA         PV  FEMININO       PRETA
31               MARIA IZABEL BEZERRA DE SÁ         PT  FEMININO       PRETA
45                       ILMA ROSA DA SILVA        PRP  FEMININO       PRETA
46            MARIA DO CARMO DA CRUZ SANTOS        PMB  FEMININO       PRETA
82                    LECI BRANDÃO DA SILVA    PC do B  FEMININO       PRETA
...                                     ...        ...       ...         ...
3835               MARILU DE PAULA AMARANTE        PMN  FEMININO       PRETA
3861                  NORMACI SOUSA SAMPAIO         PT  FEMININO       PRETA
3869                  DANIELA CORREA SANTOS       PRTB  FEMININO       PRETA
3875                    SUELLEN SILVA ROSIM   PATRIOTA  FEMININO       PRETA
3891  JACQUELINE MOREIRA DOS SANTOS ALMEIDA       REDE  FEMININO       PRETA

[166 rows x 4 columns]

## Análise 2014

In [17]:
df_2014 = pd.read_csv('consulta_cand_2014_SP.csv',sep=';',encoding='latin-1', usecols=["DS_COR_RACA", 
                                                                                  "DS_GENERO", 
                                                                                  "NM_CANDIDATO",
                                                                                  "SG_PARTIDO"])

In [18]:
df_2014.columns

Index(['NM_CANDIDATO', 'SG_PARTIDO', 'DS_GENERO', 'DS_COR_RACA'], dtype='object')

In [20]:
df_2014

                          NM_CANDIDATO SG_PARTIDO  DS_GENERO DS_COR_RACA
0                FLAUDIO AZEVEDO LIMAS         PT  MASCULINO      BRANCA
1              AUREA RODRIGUES MADEIRO       PMDB   FEMININO      BRANCA
2     ALMIRANDO FERREIRA DO NASCIMENTO        PSB  MASCULINO      BRANCA
3          HILDEBRANDO NERY DE ALMEIDA        PRB  MASCULINO      BRANCA
4        JOSÉ MARIA RODRIGUES DE MATOS        PMN  MASCULINO      BRANCA
...                                ...        ...        ...         ...
3659                     ALCEU GIRALDI        PSB  MASCULINO      BRANCA
3660             NIVALDO SANTANA SILVA    PC do B  MASCULINO       PRETA
3661          MÔNICA DE OLIVEIRA COSTA        PHS   FEMININO      BRANCA
3662      WALTER JOSÉ GONÇALVES JUNIOR       PSDC  MASCULINO      BRANCA
3663   CARLOS ANTONIO LAPIQUE MARTINEZ        PTN  MASCULINO      BRANCA

[3664 rows x 4 columns]